<html lang="fr" xmlns:th="https://www.thymeleaf.org">
    <form method="POST" :action="@{/user/UserController}" th:object="${user}">
        <div class="form-example">
            <label for="mail">Enter your email: </label>
            <input type="email" name="mail" id="mail" required th:field="*{mail}">
        </div>
        <div class="form-example">
            <label for="password">Enter your password: </label>
            <input type="password" name="password" id="password" required th:field="*{password}">
        </div>
        <div class="form-example">
            <input type="submit" value="Sign in">
        </div>
    </form>
</html>